<div class="flex flex-col my-4">
  <h1 class="text-yellow-800 text-2xl font-bold py-4">咖啡達人：在家品味極致咖啡館的體驗</h1>
  <p>歡迎來到我們的咖啡豆網站。我們為您提供來自世界各地精選的最優質咖啡豆。豆子將在新鮮狀態下直接烘焙，並送到您的手中。每種豆子都詳細記載了其起源和特點，您可以根據自己的口味選擇。此外，我們還提供各種咖啡配件，如咖啡研磨機和萃取器具。我們以卓越的品質和快速的配送為宗旨，努力讓客戶滿意。請務必在我們的網站上享受極致的咖啡體驗。期待您的訂單，非常感謝！</p>
</div>
